@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: light-dark(var(--mantine-color-background), var(--mantine-color-dark-8));
}

/* ----- Layout ----- */
[data-mantine-color-scheme="dark"] .mantine-AppShell-header {
  background-color: var(--mantine-color-dark-7);
}

/* Box behind central content */
[data-mantine-color-scheme="dark"] .content-box {
  background-color: var(--mantine-color-dark-7);
}
