@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ----- Layout ----- */
.mantine-AppShell-header {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}
